.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .landing-background {
        position: relative;
        width: 100%;
        height: 100%;

        img.background-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
        }

        video.background-video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 2;
        }
    }

    .landing-content {
        position: absolute;
        height: 100vh;
        width: 100vw;
        padding: 6.5rem 5rem;
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        grid-template-rows: .8fr min(7vw, 100px) 1fr;
        column-gap: 2.25vw;
        z-index: 3;
        row-gap: 7.5vh;

        .small-text {
            font-family: "NB Int Mono";
            font-weight: 400;
            letter-spacing: 0.01rem;
            text-transform: uppercase;
            font-size: .75rem;
            display: flex;
            flex-direction: column;
        }

        .small-text-1 {
            align-self: flex-start;
            grid-column: 1/span 2;
            grid-row: 3;
        }

        .small-text-2 {
            align-self: flex-start;
            grid-column: -6/-4;
            grid-row: 1;
            margin-top: 6vh;
        }

        .small-text-3 {
            grid-column: 5/7;
            grid-row: 3;
            align-self: flex-end;
            margin-bottom: 6vh;
        }

        .heading {
            grid-column: 1/span 7;
            align-self: flex-end;
            grid-row: 2;
            height: 14vw;

            .glitch-text {
                font-size: min(7.8vw, 7rem);
                font-family: "Evmos Bold";
                font-weight: bold;
                position: relative;
                display: inline-block;
                white-space: wrap;
                overflow: hidden;

                .glitch-text.animating span {
                    opacity: 1;
                  }
            }
        }

        .content-box {
            grid-row: 3;
            justify-self: flex-start;
            align-self: flex-start;
            grid-column: span 4/-2;
            font-family: "NB Int Bold";


            .glitch-text {
                line-height: 130%;
                letter-spacing: .01em;
                font-size: 1.3888888889vw;
                margin-bottom: 1.1111111111vw;
                margin-top: 1.11111111111vw;
                padding-right: 1.25vw;

                .glitch-text.animating span {
                    opacity: 1;
                  }
            }

            .content-buttons {
                display: flex;
                font-size: 1.111111111111vw;

                a.cb {
                    text-decoration: none;
                    cursor: pointer;
                    border-radius: .5555555556vw;
                }

                .glitch-text {
                    padding: 0 1.6666666667vw;
                    line-height: 75%;
                    font-size: 1.1111111111vw;

                    .glitch-text.animating span {
                        opacity: 1;
                      }
                }

                a.cb-1 {
                    margin-right: .555555555555vw;
                    background-color: #fff4e1;
                    color: black;
                }

                a.cb-2 {
                    color: #fff4e1;
                    border: 1px solid #fff4e1;
                    background: transparent;
                }
            }
        }
    }
}