.loading {
    background: transparent;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;

    .loader-bg {
        height: 100%;
        width: 100%;
        position: relative;
        // z-index: 40;

        .loader-bg-up {
            height: 100%;
            position: absolute;
            // z-index: 40;
            top: -70%;
            // left: -47%;
            // transform: translateY(-50%);
        }

        .loader-bg-down {
            height: 100%;
            position: absolute;
            // z-index: 40;
            // left: -47%;
            bottom: -70%;
            // transform: translateY(50%);

            .svg-down{
                position: absolute;
                bottom: 0;
            }
        }
    }

    .loading-content {
        position: absolute;
        z-index: 45;
        top: 0;
        height: 100vh;
        width: 100vw;
        padding: 6.5rem 5rem;
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        grid-template-rows: .8fr min(7vw, 100px) 1fr;
        column-gap: 2.25vw;
        z-index: 3;
        row-gap: 7.5vh;
        color: #fff4e1;

        .small-text {
            font-family: "NB Int Mono";
            font-weight: 400;
            letter-spacing: 0.01rem;
            text-transform: uppercase;
            font-size: .75rem;
            display: flex;
            flex-direction: column;
        }

        .small-text-1 {
            align-self: flex-start;
            grid-column: 1/span 2;
            grid-row: 3;
        }

        .small-text-2 {
            align-self: flex-start;
            grid-column: -6/-4;
            grid-row: 1;
            margin-top: 6vh;
        }

        .small-text-3 {
            grid-column: 5/7;
            grid-row: 3;
            align-self: flex-end;
            margin-bottom: 6vh;
        }

        .heading {
            grid-column: 1/span 6;
            align-self: center;
            height: 14vw;
            line-height: 80%;
            font-size: 7.7777777778vw;
            letter-spacing: -.01em;
            grid-row: 2;
            font-family: "Evmos Bold";
            font-weight: bold;
        }
        .loading-logo{
            grid-column: 8/span 2;
            grid-row: 2;
            align-self: center;
            height: 16vw;
            line-height: 80%;
        }

        .loading-progress {
            font-size: 7.7777777778vw;
            font-family: "Evmos Bold";
            font-weight: bold;
            letter-spacing: -.01em;
            grid-row: 2;
            grid-column: 11/12;
            align-self: center;
            height: 14vw;
            line-height: 80%;
        }
    }
}